# Ignore environment files
.env
.env.backup

# Ignore vendor folder (run composer install to get it)
vendor/

# Ignore node_modules (run npm install to get it)
node_modules/

# Ignore compiled files
storage/*
!storage/app/public
storage/*.log
bootstrap/cache/

# Ignore IDE/editor files
.idea/
.vscode/
*.log

# Ignore Laravel debugbar logs
storage/debugbar/

# Ignore npm & Yarn lock files (optional)
yarn.lock
